@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;

    color: #1a1919;
    background-color: white;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    --header-height: 6rem;
}

body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;

    background-image: url("background-image.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    height: var(--header-height);
}

.fullscreen-without-header {
    min-height: calc(100vh - var(--header-height));
}
