@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;

    color: #1a1919;
    background-color: white;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    --header-height: 6rem;
}

body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;

    background-image: url("background-image.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    height: var(--header-height);
}

.fullscreen-without-header {
    min-height: calc(100vh - var(--header-height));
}

.dashed-border {
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='16' ry='16' stroke='%2394A0B8FF' stroke-width='2' stroke-dasharray='6' stroke-dashoffset='0' stroke-linecap='butt'/%3e%3c/svg%3e");
    border-radius: 16px;
}

.divider-section:before {
    content: "";
    border-top: 1.5px solid #94a0b8;
    border-right: none;
    align-self: stretch;
}

.section--start {
    order: -1;
}

@media (min-width: 768px) {
    .divider-section:before {
        border-top: none;
        border-right: 1.5px solid #94a0b8;
    }
}
